<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd ">

	<bean id="userDao" class="com.art.dao.impl.UserDaoImpl" scope="prototype" />
	<bean id="trafficDao" class="com.art.dao.impl.TraficDaoImpl" scope="prototype" />
	<bean id="userService" class="com.art.service.UserService"  autowire="byType"  />
	<bean id="trafficService" class="com.art.service.TrafficService"  autowire="byType"  />
	<bean id="CtrlLogin" class="com.art.ctrl.CtrlLogin"  autowire="byType"  />
	<bean id="CtrlInManager" class="com.art.ctrl.CtrlInManager"  autowire="byType"  />
	<bean id="handerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
		<property name="mappings"  ref="urlMappings" />
	</bean>
	<util:properties id="urlMappings">
		<prop key="login.form">CtrlLogin</prop>
		<prop key="in_resiter.form">CtrlInManager</prop>
	</util:properties>
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix"  value="/" />
		<property name="suffix"  value=".jsp" />
	</bean>

</beans>