<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd ">

	<bean id="userDao" class="com.art.dao.impl.UserDaoImpl" scope="prototype" />
	<bean id="trafficDao" class="com.art.dao.impl.TraficDaoImpl" scope="prototype" />
	<bean id="serialNoDao" class="com.art.dao.impl.SerialNoDaoImpl" scope="prototype" />
	<bean id="missionDao" class="com.art.dao.impl.MissionDaoImpl" scope="prototype" />
	<bean id="codeDao" class="com.art.dao.impl.CodeDaoImpl" scope="prototype" />
	<bean id="userService" class="com.art.service.UserService"  autowire="byType"  scope="prototype" />
	<bean id="trafficService" class="com.art.service.TrafficService"  autowire="byType"  scope="prototype" />
	<bean id="serialNoService" class="com.art.service.SerialNoService"  autowire="byType"  scope="prototype" />
	<bean id="codeService" class="com.art.service.CodeService"  autowire="byType"  scope="prototype" />
	<bean id="CtrlLogin" class="com.art.ctrl.CtrlLogin"  autowire="byType"  />
	<bean id="CtrlInManager" class="com.art.ctrl.CtrlInManager"  autowire="byType"  />
	<bean id="CtrlCodeQuery" class="com.art.ctrl.CtrlCodeQuery"  autowire="byType"  />
	<bean id="CtrlDataQuery" class="com.art.ctrl.CtrlDataQuery"  autowire="byType"  />
	<bean id="CtrlInUw" class="com.art.ctrl.CtrlInUw"  autowire="byType"  />
	<bean id="CtrlInConfDeal" class="com.art.ctrl.CtrlInConfDeal"  autowire="byType"  />
	<bean id="CtrlConfPrint" class="com.art.ctrl.CtrlConfPrint"  autowire="byType"  />
	<bean id="CtrlUpload" class="com.art.ctrl.CtrlUpload"  autowire="byType"  />
	<bean id="CtrlOutDataQuery" class="com.art.ctrl.CtrlOutDataQuery"  autowire="byType"  />
	<bean id="CtrlOutManager" class="com.art.ctrl.CtrlOutManager"  autowire="byType"  /> 
	<bean id="CtrlOutUw" class="com.art.ctrl.CtrlOutUw"  autowire="byType"  /> 
	<bean id="CtrlOutConf" class="com.art.ctrl.CtrlOutConfDeal"  autowire="byType"  /> 
	<bean id="CtrlInvertQuery" class="com.art.ctrl.CtrlInvertQuery"  autowire="byType"  /> 
	<bean id="CtrlInvertApp" class="com.art.ctrl.CtrlInvertApp"  autowire="byType"  /> 
	<bean id="CtrlInvertUpload" class="com.art.ctrl.CtrlInvertUpload"  autowire="byType"  /> 
	<bean id="CtrlInvertConf" class="com.art.ctrl.CtrlInvertConf"  autowire="byType"  /> 
		
	<bean id="handerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
		<property name="mappings"  ref="urlMappings" />
	</bean>
	<util:properties id="urlMappings">
		<prop key="login.form">CtrlLogin</prop>
		<prop key="in_resiter.form">CtrlInManager</prop>
		<prop key="codequery.form">CtrlCodeQuery</prop>
		<prop key="dataquery.form">CtrlDataQuery</prop>
		<prop key="inuw.form">CtrlInUw</prop>
		<prop key="inuw.form">CtrlInUw</prop>
		<prop key="print.form">CtrlConfPrint</prop>
		<prop key="inconf.form">CtrlInConfDeal</prop>
		<prop key="upload.form">CtrlUpload</prop>
		<prop key="outRegster.form">CtrlOutManager</prop>
		<prop key="outdataquery.form">CtrlOutDataQuery</prop>
		<prop key="outuw.form">CtrlOutUw</prop>
		<prop key="outconf.form">CtrlOutConf</prop>
		<prop key="invertdata.form">CtrlInvertQuery</prop>
		<prop key="invertapp.form">CtrlInvertApp</prop>
		<prop key="invertupload.form">CtrlInvertUpload</prop>
		<prop key="invertconf.form">CtrlInvertConf</prop>
	</util:properties>
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix"  value="/" />
		<property name="suffix"  value=".jsp" />
	</bean>
</beans>